.titel5{
    background-color: mistyrose;
}

#titel6{
    background-color: plum;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}